<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@mipmap/childgram_launcher"
        android:roundIcon="@mipmap/childgram_launcher"
        tools:replace="android:icon,android:roundIcon">
        <!-- Preserve existing launcher aliases when updating an installed app. -->
        <activity-alias android:name="org.telegram.messenger.VintageIcon"
            android:icon="@mipmap/childgram_launcher" android:roundIcon="@mipmap/childgram_launcher"
            tools:replace="android:icon,android:roundIcon" />
        <activity-alias android:name="org.telegram.messenger.AquaIcon"
            android:icon="@mipmap/childgram_launcher" android:roundIcon="@mipmap/childgram_launcher"
            tools:replace="android:icon,android:roundIcon" />
        <activity-alias android:name="org.telegram.messenger.PremiumIcon"
            android:icon="@mipmap/childgram_launcher" android:roundIcon="@mipmap/childgram_launcher"
            tools:replace="android:icon,android:roundIcon" />
        <activity-alias android:name="org.telegram.messenger.TurboIcon"
            android:icon="@mipmap/childgram_launcher" android:roundIcon="@mipmap/childgram_launcher"
            tools:replace="android:icon,android:roundIcon" />
        <activity-alias android:name="org.telegram.messenger.NoxIcon"
            android:icon="@mipmap/childgram_launcher" android:roundIcon="@mipmap/childgram_launcher"
            tools:replace="android:icon,android:roundIcon" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="${childgramMapsApiKey}" tools:replace="android:value" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="${childgramPushEnabled}" />
    </application>
</manifest>
